* {
	font-size: 100%;
	text-decoration: none;
	outline: none;
	border: 0;
	margin: 0;
	caret-color: red;
}


body {
	background-color: #9adcff;
}
/*container*/

.container {
  
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
	background-color: #fff89a;
  padding:50px;
  border-radius:20px;
}

.imagem {
  float:left;
	background: #4158d0;
	width: 100px;
	height: 30px;
}

.formulario {
  float:right;
	background: #ffb2a6;
}
