* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, cyan, dodgerblue, rgb(154, 24, 194));
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 400px;
    height: auto;
    padding: 35px;
    margin-bottom: 150px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px;


}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #CBD0F7;
    background-color: #252A34;
    border: none;
    outline: none;
    ;
    text-decoration: none;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
}

.login h1 {
    //*width: 65px;*//
    height: 80px;
    font-size: 50px;
}

input::placeholder {
    color: #CBD0F7;
    font-size: 18px;
}

button {
    color: #CBD0F7;
    font-size: 20px;
    background-color: #5568FE;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border:none;
    border-radius: 8px;
    height: 50px;
    margin-top: 8px;
    margin-top: 20px;
}
button:hover{
    color:#9577f8;
}


p {
    color: #CBD0F7;
    font-size: 17px;
}

a {
    margin-left: 5px;
    color: #5568FE;
    text-decoration: none;
}